@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <table class="table">
        <tbody>
            @foreach (var item in Model.Employees)
            {<tr>
                    <td>@Html.DisplayFor(modelItem => item.EmployeeId)</td>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                    <td>
                        @foreach (var address in item.Address)
                        {
                            @Html.DisplayFor(modelItem => address.City) @Html.DisplayName(" ")
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
