@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}


@{
   string isFlightOn = Configuration["isFlightOn"];
   if (string.Equals(isFlightOn, "true", StringComparison.OrdinalIgnoreCase))
   {
       <h1>
        <strong>Flight content</strong>
       </h1> 
   }
}


<h2 class="text-success">Singleton.</h2>
<p>
        <strong>ID:</strong> <code>@Model.Singleton</code>
</p>

<h2 class="text-success">Scoped instance 1</h2>
<p>
        <strong>ID:</strong> <code>@Model.Scoped</code>
</p>
<h2 class="text-success">Scoped instance 2</h2>
<p>
        <strong>ID:</strong> <code>@Model.Scoped2</code>
</p>
<h2 class="text-success">Transient instance 1</h2>
<p>
        <strong>ID:</strong> <code>@Model.Transient</code>
</p>

<h2 class="text-success">Transient instance 2</h2>
<p>
        <strong>ID:</strong> <code>@Model.Transient2</code>
</p>

